<div class="container-my-page d-flex flex-column align-items-center justify-content-center" style="height:auto;">
  <div class="row mt-5">
   <h2><ins><%= @customer.full_name %>さんの会員情報編集</ins></h2>
  </div>
  <%= form_with model: @customer,url: "/customers/update",local:true do |f| %>
   <table>
     <div class="form-group">
      <tr>
       <th><%= f.label :（姓） %></th>
       <th><%= f.text_field :last_name %></th>
       <th><%= f.label :（名） %></th>
       <th><%= f.text_field :first_name %></th>
      </tr>
     </div>

     <div class="form-group">
      <tr>
       <th><%= f.label :（セイ） %></th>
       <th><%= f.text_field :last_name_kana %></th>
       <th><%= f.label :（メイ） %></th>
       <th><%= f.text_field :first_name_kana %></th>
      </tr>
     </div>

     <div class="form-group">
      <tr>
       <th><%= f.label :メールアドレス %></th>
       <th><%= f.email_field :email, autofocus: true %></th>
      </tr>
     </div>

     <div class="form-group">
      <tr>
       <th><%= f.label :郵便番号（ハイフンなし） %></th>
       <th><%= f.text_field :postal_code %></th>
      </tr>
     </div>

     <div class="form-group">
      <tr>
       <th><%= f.label :住所 %></th>
       <th><%= f.text_area :address %></th>
      </tr>
     </div>

     <div class="form-group">
      <tr>
       <th><%= f.label :電話番号（ハイフンなし） %></th>
       <th><%= f.text_field :telephone_number %></th>
      </tr>
     </div>
    </table>
    <%= f.submit '変更を保存',class: "btn btn-primary"  %>
</div>
   <% end %>
<div class="container-my-page pb-3">
 <div class="text-center"><%= link_to '退会する',customers_unsubscribe_path,class: "btn btn-danger" %></div>
  </div>