<h3 class="text-center font-weight-bold pt-5">商品新規登録</h3>
 <div class="container d-flex align-items-center pt-5" style="height:auto; width:auto;">
　<%= form_with model: @item,url: '/admin/items',local:true do |f| %>
　<h5>商品画像</h5>
　<%= f.attachment_field :image %>
　<h5>商品名</h5>
　<%= f.text_field :name %>
　<h5>商品説明</h5>
　<%= f.text_area :introduction %>
　<h5>税抜き価格</h5>
　<%= f.number_field :price %>円<br>
　<div class="btn pt-3">
　 <%= f.submit '新規登録',class: "btn btn-primary" %>
　</div>
　<% end %>
</div>